*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: darkcyan;
}
.container{
    width: 90%;
    height: 540px;
    background-image: linear-gradient(0deg, green,white,skyblue);
    display: flex;
margin: 5% auto;
    box-shadow: 0px 5px 2px 1px rgba(0, 0, 0, 0.42);
    border-radius: 5px;
    padding: 10px;
}
.container .box{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .box:nth-child(1){
    background: #47967a;
    backdrop-filter: blur(5px);
    color: white;
    border-radius: 15px;
}


.container .box:nth-child(2){
    background: #964763;
    backdrop-filter: blur(5px);
    color: white;
    margin: 10px;
    border-radius: 15px;
}

.container .box input{
    width: 300px;
    height: 50px;
    margin: 6px;
    border-radius: 8px;
    font-size: 24px;
     color: red;
    padding: 4px 12px;
    border: none;
    outline: none;
    transition: 0.9s ease-in;
}

.container .box input:focus{
    background: yellow;
    color: black;
    border-radius: 12px 0 12px 0;
    border: 1px double black;
}

label{
    font-size: 25px;
    color: crimson;
}